* {
    margin: 0;
}

body {
    font-family: 'Poppins', Arial;
}

header {
    position: fixed;
    background-color: white;
    box-shadow: 0 4px 2px -2px rgb(194, 194, 194);
    height: 130px;
    top: 0;
    z-index: 100;
}

main {
    margin-top: 150px;
}

p {
    margin: 0;
}
